// .npmrc
# Prevent transitive dependencies from using exotic sources (like git repos or direct URLs)
blockExoticSubdeps=true
# Prevent installation if a package's trust level has decreased compared to previous releases
trustPolicy=no-downgrade
shamefully-hoist=true
